<div class="container-fluid">
    <div class="container py-20">
        <div class="about row">
            <div class=" col-lg-12">
                <h1 class="text-c11 d-block font-weight-bold"> About </h1>
                    <div class="topic-html-content">
    <div class="topic-html-content-body">
        <p>A world that encourages everyone to discover, enjoy and share the riches offered by the world of culture and entertainment more often, more easily and in a more qualified way, thus bringing people together on a common platform and enriching every moment of life.</p>
    </div>
</div>
<br> <br> <br>
<div class="row">
    <div class="col-md-3">
        
    </div>
    <div class="col-md-9">
        <div class="row">  
            <h3 class="text-c11 d-block font-weight-bold"> Booksite Brand Vision </h3>
            <div class="topic-html-content-body">
                <p>To be the most loved and preferred experience brand as the biggest supporter of people's mental liberation and personal development.</p>
            </div>
        </div>
        <div class="row">  
            <h3 class="text-c11 d-block font-weight-bold"> Booksite Brand Mission </h3>
            <div class="topic-html-content-body">
                <p>To be a platform that removes borders, liberates, supports and encourages.</p>
            </div>
        </div>
        
    </div>
</div>