<div class="container-fluid">
    <div class="container py-20">
        <div class="about row">
            <div class=" col-lg-12">
                <h1 class="text-c11 d-block font-weight-bold"> Contact </h1>
                    <div class="topic-html-content">
    <div class="topic-html-content-body">
        <p>A world that encourages everyone to discover, enjoy and share the riches offered by the world of culture and entertainment more often, more easily and in a more qualified way, thus bringing people together on a common platform and enriching every moment of life.</p>
    </div>
</div>
<br> <br> <br>

<div class="p-10 mb-20">
<div class="row">
<div class="col-12"> <h4 class="mb-20 mt-10">Booksite Customer service <hr> </h4></div>   
<div class="col-md-4"> <div class="mb-10"> <h6>Phone : </h6>  +90 (111) 111 1111 </div> </div>
<div class="col-md-4"><div class="mb-10"> <h6>Email : </h6> bilgi@booksite.com.tr </div></div>
